<div class="content-wrapper" style="min-height: 956px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          
                <app-pageheader></app-pageheader>
             </section>
        <div class="row">
           <div class="col-md-12">{{uploadfileresult}}</div>
        </div>
        <div class="userForm2 " style="padding-bottom: 50px;">
                <form [formGroup]="userForm"  (ngSubmit)="onSubmit()">      
                    <div class="col-md-12">
                        
                          <div class="userForm1 col-md-12" >                 
                              <label for="label" class="form-label userFormheadingLable">Information</label>
                              <hr/>
                              <div class="col-md-12">
                              <div class="form-group col-md-6" [ngClass]=""> <!-- Last Name -->
                                <label for="loginName" class="control-label userFormLable">User Name</label>
                                <input type="text" formControlName="loginName" class="form-control" id="loginName" name="loginName" placeholder="">
                                <div *ngIf="submitted && f.loginName.errors" class="invalid-feedback">
                                    <div class="text-danger" *ngIf="f.loginName.errors.required">Please Provide Login Name</div>
                                 </div>
                              </div>
                
                              <div class="form-group col-md-6" [ngClass]=""> <!-- Password -->
                                <p for="status" class="control-label userFormLable">Status</p>
                                <select name="status" id="status" formControlName="status">
                                    <option value=""></option>
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                                <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                    <div class="text-danger" *ngIf="f.status.errors.required">Please Select Status</div>
                                 </div>
                              </div>
                            </div>

                            <div class="col-md-12">
                                    <div class="form-group col-md-6" [ngClass]=""> <!-- Last Name -->
                                      <label for="last_name" class="control-label userFormLable">Password</label>
                                      <input type="password" formControlName="password" class="form-control" id="password" name="password" placeholder="">
                                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                          <div class="text-danger" *ngIf="f.password.errors.required">Please Enter Password</div>
                                       </div>
                                    </div>
                      
                                    <div class="form-group col-md-6" [ngClass]=""> <!-- Password -->
                                      <label for="password" class="control-label userFormLable">Reset Password</label>
                                      <input type="password" formControlName="resetpassword"  class="form-control" id="resetpassword" name="resetpassword" placeholder="">
                                      <div *ngIf="submitted && f.resetpassword.errors" class="invalid-feedback">
                                          <div class="text-danger" *ngIf="f.resetpassword.errors.required">Please Enter Reset Password</div>
                                       </div>
                                    </div>
                                  </div>

                                  <div class="col-md-12">
                                        <div class="form-group col-md-6" [ngClass]=""> <!-- Last Name -->
                                          <label for="firstName" class="control-label userFormLable">First Name</label>
                                          <input type="text" formControlName="firstName" class="form-control" id="firstName" name="firstName" placeholder="">
                                          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                              <div class="text-danger" *ngIf="f.firstName.errors.required">Please Enter First Name</div>
                                           </div>
                                        </div>
                          
                                        <div class="form-group col-md-6" [ngClass]=""> <!-- Password -->
                                          <label for="lastName" class="control-label userFormLable">Last Name</label>
                                          <input type="text" formControlName="lastName"  class="form-control" id="lastName" name="lastName" placeholder="">
                                          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                              <div class="text-danger" *ngIf="f.lastName.errors.required">Please Enter Last Name</div>
                                           </div>
                                        </div>
                                      </div>
                           
                          </div>	
                        
                        </div>
                  
                 
                   
                <div class=" userForm1" style="background: transparent;">
                  <div class="form-group has-error left" style="float: right;background: transparent;"> <!-- Register Button -->
                    <button type="button" class="btn btn-primary" style="margin-right:10px;color: green;background: transparent;border-color:transparent ;">Cancel</button>
                    <button type="submit" class="btn btn-primary"  style="background-color: #8e1e98;border-color: #66166d;">Create</button>
                  </div>
                </div>
                </form>
              </div>
</div>