.headerPage{
    font-size: 1.3rem;
}
.headerPageBorder{
    border-bottom: 1px #ccc solid;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}
._ngcontent-gyy-c6{
    border-bottom: 1px #ccc solid;
}
.content{
    padding: 0px;
}
 .filters {
    position: relative;
    display: inline-block;
    margin-top: 14px;
}
.filters .sport-filters {
    display: inline-block;
}
.filters .radio-selector {
    display: inline-block;
}
.filters .radio-selector li {
    display: inline-block;
}
.filters .radio-selector li label {
    cursor: pointer;
    margin-right: 16px;
}
.filters .radio-selector li input {
    margin-right: 4px;
    vertical-align: middle;
}