
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview" style="height: auto;">
          <a href="">
            <i class="fa fa-pie-chart"></i>
            <span>Agency MAnagement</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a routerLink="/MemberList"><i class="fa fa-circle-o"></i> Member Listing</a></li>
            <li><a routerLink="/MemberList"><i class="fa fa-circle-o"></i> Position Taking Listing</a></li>
            <li><a routerLink="/MemberList"><i class="fa fa-circle-o"></i> Transfer</a></li>
          </ul>
        </li>
        <li class="treeview" style="height: auto;">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Risk Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a routerLink="/MemberList"><i class="fa fa-circle-o"></i> Net Exposure</a></li>
            <li><a routerLink="/MemberList"><i class="fa fa-circle-o"></i> Bet Ticket</a></li>
          </ul>
        </li>
        <li class="treeview" style="height: auto;">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Reports</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a routerLink="/MemberList"><i class="fa fa-circle-o"></i> P&L Report by Market</a></li>
            <li><a routerLink="/MemberList"><i class="fa fa-circle-o"></i> P&L Report by Agent</a></li>
            <li><a routerLink="/MemberList"><i class="fa fa-circle-o"></i> Casino Report</a></li>
            <li><a routerLink="/MemberList"><i class="fa fa-circle-o"></i> Bet List</a></li>
            <li><a routerLink="/MemberList"><i class="fa fa-circle-o"></i> Transfer Statement</a></li>
          </ul>
        </li>
        <li class="treeview" style="height: auto;">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Account</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a routerLink="/MemberList"><i class="fa fa-circle-o"></i> Balance</a></li>
            <li><a routerLink="/MemberList"><i class="fa fa-circle-o"></i> Statement</a></li>
          </ul>
        </li>
        
        <li class="treeview" style="height: auto;">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Admin Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a routerLink="/MemberList"><i class="fa fa-circle-o"></i> User Listing</a></li>
          </ul>
        </li>
           
      </ul>
    </section>
  </aside>

