
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
     
        <li class="treeview" style="height: auto;">
          <a href="">
           
            <span>Agency Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a routerLink="/MemberList"> Member Listing</a></li>
            <li><a routerLink="/positionTaking"> Position Taking Listing</a></li>
            <li><a routerLink="/MemberList"> Transfer</a></li>
          </ul>
        </li>
        <li class="treeview" style="height: auto;">
          <a href="#">
           
            <span>Risk Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a routerLink="/MemberList"> Net Exposure</a></li>
            <li><a routerLink="/MemberList"> Bet Ticket</a></li>
          </ul>
        </li>
        <li class="treeview" style="height: auto;">
          <a href="#">
           
            <span>Reports</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a routerLink="/MemberList"> P&L Report by Market</a></li>
            <li><a routerLink="/MemberList"> P&L Report by Agent</a></li>
            <li><a routerLink="/MemberList"> Casino Report</a></li>
            <li><a routerLink="/MemberList"> Bet List</a></li>
            <li><a routerLink="/MemberList"> Transfer Statement</a></li>
          </ul>
        </li>
        <li class="treeview" style="height: auto;">
          <a href="#">
           
            <span>Account</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a routerLink="/MemberList"> Balance</a></li>
            <li><a routerLink="/MemberList"> Statement</a></li>
          </ul>
        </li>
        
        <li class="treeview" style="height: auto;">
          <a href="#">
           
            <span>Admin Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a routerLink="/userlist"> User Listing</a></li>
          </ul>
        </li>
           
      </ul>
    </section>
  </aside>

