/* You can add global styles to this file, and also import other style files */
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{border:1px solid #ccc;}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 1px solid #ccc;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
padding: 4px;
line-height: normal;
outline:none; 
}
.input-sm {height: 27px;line-height: 27px;}
.box {border-radius:0px;border: 1px solid #d2d6de;box-shadow: none;}
.pagination {margin: 0px 0;border-radius: 0px;float: right;}
.pagination>li>a, .pagination>li>span{ padding: 5px 10px;}
.content-header>h1 {font-size: 20px;}
.dataTables_info{line-height:30px;}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img{height: 50px;width: 50px;border: 2px solid;}
.main-footer{padding:10px 15px;}
.btn {border-radius: 0;box-shadow: none;border: 0;}
.table{margin-bottom:10px;}





/* login page css start from here */
.login-logo, .register-logo{color:#fff;}
.login-page{
    background-image: url(assets/img/16028.jpg);
    background-attachment: fixed;
    background-position: top left;
    background-size:cover;
}
.login-box{
    margin: 10% 10% 10% auto;
}
.login-logo a, .register-logo a {
    color: #fff;
}
.login-box-body, .register-box-body {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 20px 30px;
    border-radius: 5px;
}
.login-box .checkbox, .login-box .radio{
    margin-top:0 ;
}
.login-box .checkbox label, .login-box .radio label {
    padding-left: 5px;
    
}
.login-box mat-icon, a {
    color: #0099cc;
}
.login-page {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.login-box-body .form-control {
    border-width: 0 0 1px 0;
    transition: 0.4s all;
    font-size: 14px;
    background-color: transparent;
}

.login-box-body .form-group {
    margin-bottom: 20px;
}

.login-box-body .form-control:focus {
    border-color: #3f51b5;
    box-shadow: none;
}
.login-box-body .form-control:focus + .form-control-feedback{
    border-color: #3f51b5;
}



@media(max-width:768px){
    .login-box {
        margin: 10% auto 10% auto;
        width: 280px;
    }
    
}
